.Botones-Content{
    height: fit-content;
    margin: 5px 10px;
}
.icono-boton{
    width: 30px;
    margin: 5px 10px;
}
.Botones-Content button{
    background-color:#edfffa;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 95%;
    padding: 5px 10px;
    margin: 3px 2px;
}